@import "./form-style.css";
@import "utility.css";

/* Fonts import */
@font-face {
  font-family: "sf-pro-regular";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/SFPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-semibold";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/SFPro-Semibold.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-bold";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/SFPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "sf-pro-heavy";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/SFPro-Heavy.ttf") format("truetype");
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

:root {
  --black-color: #000;
  --button-normarl-color: rgba(250, 200, 62, 0.4);
  --button-hover-color: rgba(250, 200, 62, 1);
  --button-drop-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --sf-pro-regular: "sf-pro-regular";
  --sf-pro-semibold: "sf-pro-semibold";
  --sf-pro-bold: "sf-pro-bold";
  --sf-pro-heavy: "sf-pro-heavy";
}

.main-heading {
  font-family: var(--sf-pro-semibold);
  font-size: 32px;
  font-weight: 700;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  margin-left: 21px;
  margin-top: 35px;
}

/* Step one */
#step-one {
  width: 534px;
  min-height: 216px;
  /* border: 1px solid cyan; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  /* display: none; */
}

.sub-heading {
  font-family: var(--sf-pro-semibold);
  font-size: 40px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0em;
  text-align: center;
  margin-top: 0;
  padding-top: 0;
}

#step-one-fields {
  margin-top: 135px;
  /* border: 1px solid magenta; */
}

.label-text {
  color: var(--black-color) !important;
  font-family: var(--sf-pro-regular);
  font-size: 24px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}

.sf-form-control {
  width: 258px !important;
  height: 41px !important;
  left: 274px !important;
  border-radius: 8px !important;
  border: 1px !important;
  outline: 1px solid black !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: -0.40799999237060547px !important;
  text-align: left !important;
  padding: 10px !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

/* Hide default radio buttons */
input[type="radio"] {
  display: none;
}

/* Style for custom radio buttons */
.custom-radio {
  display: inline-block;
  font-family: var(--sf-pro-regular);
  cursor: pointer;
  padding: 6px 12px;
  font-size: 24px;
  font-weight: 400;
  background: rgba(118, 118, 128, 0.12);
  border-radius: 5px;
  margin-right: 10px;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
}

/* Highlight for selected option */
input[type="radio"]:checked + label {
  font-weight: 700;
}

/* already-launched */
.already-launched,
.fgic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.already-launched {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 37px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

/* Example of !important for next button */
.next-button {
  color: #000000 !important;
  font-family: var(--sf-pro-regular) !important;
  background: var(--button-normarl-color) !important;
  -webkit-box-shadow: var(--button-drop-shadow) !important;
  box-shadow: var(--button-drop-shadow) !important;
  display: inline-block !important;
  padding: 14px 58px !important;
  font-size: 32px !important;
  font-weight: 400 !important;
  line-height: 33.41px !important;
  outline: none !important;
  border: 0 !important;
  -webkit-transition: 0.3s !important;
  -o-transition: 0.3s !important;
  transition: 0.3s !important;
  cursor: pointer !important;
}

.next-button:hover {
  background: var(--button-hover-color) !important;
}

/* Step two */
#step-two {
  width: 787px;
  min-height: 673px;
  /* border: 1px solid cyan; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: none;
}

#step-two-fields {
  margin-top: 135px;
}

#desired-content {
  width: 258px;
  font-size: 21px;
  border-radius: 8px;
  border: 1px solid #000000;
  padding: 10px;
  line-height: 22px;
  letter-spacing: -0.40799999237060547px;
}

#desired-content option {
  font-family: var(--sf-pro-regular);
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}

.gsm-field {
  /* layout */
  width: 120px !important;
  height: 34px !important;
  padding: 6px 12px !important;
  gap: 8px !important;
  border-radius: 8px !important;
  border: 0 !important;
  outline: none !important;
  background: rgba(118, 118, 128, 0.12) !important;

  /* font design */
  font-family: var(--sf-pro-regular) !important;
  font-size: 24px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: -0.40799999237060547px !important;
  text-align: center !important;
}

select#delivery-day {
  padding: 5px 10px !important;
  border-radius: 8px !important;
  border: 0 !important;
  outline: none !important;
  background: rgba(118, 118, 128, 0.12) !important;

  /* font design */
  font-family: var(--sf-pro-regular) !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: -0.40799999237060547px !important;
  text-align: center !important;
  width: inherit !important;
}

#delivery-month {
  /* layout */
  padding: 5px 10px !important;
  border-radius: 8px !important;
  border: 0 !important;
  outline: none !important;
  background: rgba(118, 118, 128, 0.12) !important;

  /* font design */
  font-family: var(--sf-pro-regular) !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: -0.40799999237060547px !important;
  text-align: center !important;
  width: inherit !important;
}

#delivery-year {
  /* layout */
  padding: 5px 10px !important;
  border-radius: 8px !important;
  border: 0 !important;
  outline: none !important;
  background: rgba(118, 118, 128, 0.12) !important;

  /* font design */
  font-family: var(--sf-pro-regular) !important;
  font-size: 21px !important;
  font-weight: 400 !important;
  line-height: 22px !important;
  letter-spacing: -0.40799999237060547px !important;
  text-align: center !important;
  width: inherit !important;
}

.to {
  font-family: var(--sf-pro-regular) !important;
  font-size: 14px !important;
  font-weight: 400 !important;
  line-height: 21px !important;
  letter-spacing: -0.3199999928474426px !important;
  text-align: center !important;
  margin-bottom: 0 !important;
  white-space: nowrap;
}

.product-field {
  width: 258px !important;
}

/* Step three */
#step-three {
  width: 662px;
  min-height: 446px;
  /* border: 1px solid cyan; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  display: none;
}

#step-three-fields {
  margin-top: 235px;
}

/* Hide the default file input */
#step-three-fields input[type="file"] {
  display: none;
}

.upload-file-div {
  width: 258px;
  height: 112px;
  text-align: center;
  line-height: 170px;
  border: 1px solid #000000;
  border-radius: 8px;
  position: relative;
}
.image-show {
  width: 258px;
  position: absolute;
  text-align: center;
  line-height: 2em;
  top: 100%;
  left: 0;
  display: none;
}

.upload-file-div label {
  line-height: inherit !important;
}

.upload-file-div img {
  vertical-align: baseline;
  cursor: pointer;
}

#fabric-finishes {
  width: 258px;
  height: 112px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}

/* Thank you page */
#thank-you-page {
  width: 416px;
  min-height: 487px;
  /* border: 1px solid cyan; */
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
  position: relative;
  display: none;
}

.thank-you-button-div {
  margin-top: 242px;
  margin-bottom: 280px;
  text-align: center;
}

#thank-you-button {
  color: #000000 !important;
  width: 327px;
  height: 52px;
  font-family: var(--sf-pro-regular);
  font-size: 32px;
  font-weight: 400;
  line-height: 38px;
  padding: 10px 30px;
  letter-spacing: 0em;
  text-align: center;
  background: #fac83e;
  /* position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%); */
  outline: none;
  border: 0;
  -webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

/* CSS to hide progress bar for finish step */
fieldset.finish-step #progressbar {
  display: none;
}

.selected-option {
  font-family: var(--sf-pro-regular);
  font-size: 24px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: -0.408px;
  background: rgba(118, 118, 128, 0.12);
  padding: 6px 12px;
  margin-top: 5px;
  border-radius: 8px;
  text-align: left;
  display: table-caption;
  margin-left: 30px;
}

.remove-option {
  margin-right: 10px;
  cursor: pointer;
  background-color: transparent;
  font-family: var(--sf-pro-regular);
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: -0.3199999928474426px;
  text-align: left;
}

.percentage {
  margin-left: 5px;
}

/* dispaly notification */
.notification-container {
  position: fixed !important;
  top: 20px !important;
  right: 20px !important;
  z-index: 9999 !important;
  display: none;
}

.notification-content {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px 20px;
}

.progress {
  margin-top: 10px;
}

/* CSS for the notification progress bar */
#notification-progress {
  background-color: #fac83e;
}

.sm-bold {
  font-family: var(--sf-pro-bold);
}

fieldset.finish-step {
  margin-top: 100px;
}

div#loading-spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

#anything-else {
  width: 258px;
  height: 112px;
  border: 1px solid #000000;
  border-radius: 8px;
  padding: 10px;
  font-size: 1rem;
  font-weight: 500;
}

/* make responsive */
@media only screen and (max-width: 560px) {
  .captcha-label {
    text-align: center;
  }
  fieldset.w-534 {
    width: 100%;
    text-align: center;
  }

  .form-card {
    width: 100% !important;
  }

  .form-card {
    text-align: center;
  }

  div#step-one-fields {
    /* padding: 0 20px !important; */
    margin-left: 30px;
  }

  .fs-gic {
    grid-template-columns: 130px auto;
    gap: 10px;
  }

  fieldset.w-787 {
    width: 100%;
    text-align: center;
  }

  .ss-gic {
    grid-template-columns: 130px auto;
    align-items: center;
  }

  #step-two-fields {
    margin-top: 135px;
    text-align: center;
    margin-left: 110px;
  }

  .gap-30 {
    gap: 10px;
  }

  .w-662 {
    width: 100%;
    text-align: center;
  }

  .gap-76 {
    gap: 10px;
  }

  .ts-gic {
    grid-template-columns: auto;
    text-align: center;
    align-items: center;
  }

  #step-three-fields {
    margin-top: 235px;
    margin-left: 40px;
  }
}

.main-form {
  display: none;
}

/* captcha  */

.submit__generated {
  display: inline-block;

  span {
    display: inline-block;
    width: 35px;
    height: 35px;
    vertical-align: center;
    line-height: 35px;
    font-weight: bold;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.9);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }

  &.valid:after,
  &.unvalid:after {
    font-family: FontAwesome;
    font-size: 18px;
    margin-left: 10px;
  }
  &.valid {
    &:after {
      content: "\f00c";
      color: #2ecc71;
    }
    .submit__input {
      border: 1px solid #2ecc71;
      color: #2ecc71 !important;
    }
  }
  &.unvalid {
    &:after {
      content: "\f00d";
      color: #e74c3c;
    }
    .submit__input {
      border: 1px solid #e74c3c;
      color: #e74c3c;
    }
  }

  .submit__input {
    position: relative;
    outline: 0;
    height: 35px;
    width: 35px;
    border-radius: 4px;
    border: 1px solid #42a0dd;
    color: #42a0dd;
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    top: -2px;
    padding: 0;
  }
}

i.fa-refresh {
  margin: 4px 0 0px 5px;
  padding: 5px;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transform-origin: center center;
  transition: transform 0.2s ease-out, color 0.2s ease-out;
  &:hover {
    color: rgba(0, 0, 0, 0.4);
    transform: rotate(180deg);
  }
}

span.submit__error,
span.submit__error--empty {
  color: #e74c3c;
  position: absolute;
  margin-top: 0px;
  margin-left: 100px;
}

.submit {
  display: block;
  margin: 50px 0;
  padding: 7px 15px;
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  letter-spacing: 1px;
  text-transform: uppercase;
  outline: none;
  border: 0;
  background-color: #42a0dd;
  background-clip: padding-box;
  border-radius: 3px;
  box-shadow: 0 4px 0 #2c81ba;
  opacity: 1;
  transition: transform 0.2s ease-out, opacity 0.2s ease-out;

  &:hover {
    background-color: #3498db;
  }
  &:active,
  &.enter-press,
  &.overlay {
    margin: 55px 0 46px 0;
    box-shadow: none;
  }
}

.submit__overlay {
  height: 50px;
  width: 110px;
  background-color: rgba(255, 255, 255, 0.8);
  position: absolute;
  margin-top: -90px;
  margin-left: -5px;
}

.low-opa {
  opacity: 0.4;
}
.fadeOut {
  opacity: 0;
  transform: translateY(10px);
}
.fadeIn {
  opacity: 1 !important;
  transform: translateY(0px) !important;
}
.form-fields,
.form-success {
  transition: all 0.2s ease-out;
}
.form-success {
  opacity: 0;
  transform: translateY(-10px);
  margin-top: 20px;
}
@media (max-width: 767px) {
  #desired-content {
    width: 100% !important;
  }
  .elementor-1012 .elementor-element.elementor-element-8cb7b18 img {
    max-width: 100%;
    height: auto;
  }
  div#step-one-fields {
    margin-left: 0;
  }
  #step-two-fields {
    margin-left: 0;
  }
  #step-three-fields {
    margin-left: 0;
  }
  .sf-form-control {
    width: 100% !important;
  }
  .fieldset.w-534 {
    margin-left: 0 !important;
  }
  .fs-gic {
    width: 95%;
    margin-left: 2%;
  }
  .elementor-element.elementor-element-8cb7b18 img {
    height: auto;
    max-width: 100% !important;
  }

  #step-two-fields .d-flex {
    display: block !important;
  }
  #step-two-fields select {
    width: 100% !important;
    margin-bottom: 10px;
  }
  #step-two-fields .gsm-field {
    margin: auto;
  }
}

@media (max-width: 290px) {
  .fs-gic {
    width: 90% !important;
    margin-left: 0% !important;
  }
  .already-launched {
    gap: 0;
  }
  #step-two-fields .ss-gic {
    grid-template-columns: auto !important;
  }
  #step-two-fields .already-launched,
  .fgic {
    gap: 0 !important;
  }
  #step-two-fields {
    margin-left: 0;
    width: 80%;
    margin: auto;
    margin-top: 100px;
  }
}
